#navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;

  position: fixed;
  z-index: 3;
  width: 88vw;
  background-color: rgb(247,245,240);
  border-radius: 5px;
  padding: 0 36px;
  left: 50%;
  transform: translateX(-50%);
}


#profile-container button {
  border: none;
  background-color: rgb(247,245,240);
  font-family: 'Roboto', sans-serif;
  font-size: 15.2px;
  cursor: pointer;
}

.left-nav {
  cursor: pointer;
  padding-left: 40px;
}

.left-nav a {
  text-decoration: none;
  color: black;
}

.profile-dropdown {
  position: absolute;
  background-color: rgb(40, 54, 69);
  color: white;
  z-index: 1000;

  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  gap: 8px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

.my-products > a, .new-product-link > a {
  text-decoration: none;
  color: white;
}


.logout-btn, .greeting, .my-products, .new-product-link {
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}

.greeting, .new-product-link {
  border-top: none;
}


/************/

.hidden {
  display: none;
}

.logo {
  font-size: 40px;
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  color: rgba(55, 62, 81, 0.596);
}

.logo > a, .account > a, .nav-cart > a {
  text-decoration: none;
  color: black;
}


.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.nav-cart {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.item-count {
  border: 1px solid rgb(168,134,103);
  border-radius: 100%;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
