#delete-product-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 300px;
}

.yes-no-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.yes-no-btns button {
    background-color: rgb(40,54,69);
    color: white;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 30px;
}
