#products-page {
    padding-top: 100px;
    margin: 0px auto;
    max-width: 1024px;
}

#products-page > img {
    height: 400px;
    width: 950px;
    padding-left: 40px;

}

#products-page > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 400px;
    align-items: center;
    justify-content: center;
}

.header-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.back-link > a {
    text-decoration: none;
    color: black;
    padding-left: 40px;
}

.sort-price {
    border: none;
    background-color: white;
    margin-top: 3px;
    color: rgb(168,134,103);
}

.first-img img {
    height: 320px;
    width: 320px;
    padding-bottom: 20px;
}

.first-img {
    position: relative;
    height: 230px;
    /* width: 100%; */
    width: 230px;
    padding-bottom: 55px;
}


.primary-image, .secondary-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
}

.primary-image {
    opacity: 1;
}

.secondary-image {
    opacity: 0;
}

.image-fade-out {
    opacity: 0;
}

.image-fade-in {
    opacity: 1;
}

.product-detail {
    display: flex;
    flex-direction: row;
    width: 1005;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-top: 50px;
}

.product-name {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    color: rgb(47,54,75);
}

.product-price {
    color: gray;
}

.product-type {
    color: rgba(0, 0, 0, 0.686);
    font-size: 15px;
    margin-bottom: 20px;
}
